body{
    margin:0;
    overflow: hidden;
}

#particles-js{
    background-color: black;
    height:100vh;
    width:100vw;
}

.topbar{
    text-align: center;
    height:50px;
    width:100%;
    background-color: lightgray;
}

.megacontainer{
    display: flex;
    flex-wrap: wrap;
}

.container{
    
/* code commented out since implementation couldn;t be perfected for now  may be used later
    clip-path: polygon(
    0 0,
    90% 0,
    100% 100%,
    10% 100%
  );
*/
    background-color:red;
    margin-top:100px;
    display: flex;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    height:200px;
    width:500px;
    background-color:transparent;
}


.heading{
    width:100px;
    height:34px;
    margin-left: auto;
    margin-right: auto;
    color:grey;
    font-family: "Helvetica";
    font-size: 32px;
}

.image{
    height:200px;
    width:200px;
    min-width: 200px;
    min-height: 200px;
    background-color: darkgray;
    color:white;
    font-family: "Helvetica";
    font-weight: bold;
    border-radius: 50%;
    background-image: url(test.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.phone{
    background-color:green;
    border-radius: 20px;
    display: inline-block;
}

.icon{
    display: inline-block;
    height: 2vw;
    width:2vw;
    background-image:url(../assets/img/phone-4.svg);
}

.details-text{
    display: inline-block;
}

.text_container{
    background-color:transparent;
    margin-left: 5px;
    height:auto;
}

.coordinator{
    font-family: "Helevetica",sans-serif;
    font-size: 30px;
}

.footer{
    margin-top:20px;
    width:100%;
    height:100px;
    background-color:black;
    color:white;
    text-align:center;
}

/* attempt to make a custom scroll bar which replaces the original browser scroll bar */

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #555;
    border-radius:2px;
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius:2px; 
    background: #d4bb55; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.scrollable_content{
    position: fixed;
    /* so that the scrollbar starts after the top bar*/
    top:55px;
    overflow: scroll;
    /*so that the scroll bar is not at the edge of the browser*/
    margin-left: 0.5%;
    height:100%;
    width:99%;
    
}

/* media query for phones */

@media screen and (max-width: 480px) {    
    .container{
        /* changes the display of the text for the coordinators from side to bottom of image*/
        height:100%;
        width:100%;    
        flex-wrap: nowrap;
        flex-direction: column;
        
        margin-top:10px;
        
    }
    
    .image{
        height:80vw;
        width:80%;
        max-width:200px;
        max-height:200px;
    }
    
    #top-bar{
        /* the shadow is probably gonna be removed later, for now just used as a visual seperator */
        box-shadow: 0 3px 30px -6px blue;
    }
    
    .image{
        /*center the image in the viewport */
        margin:0 auto;
    }
    
    .top-bar-item{
        display: none;
    }  
    
    #logo{
        display: block;
    }
    
    #chief-container{
        margin-top: 50px;
        height:350px;
}
}

/*firefox doesn't support custom scrollbars so this is kindoff a hack to make firefox use the normal scrolbar while the custom scroll bar is still applied to chrome*/
@-moz-document url-prefix()
    { 
        .scrollable_content  {
        /* so that the scrollbar starts after the top bar*/
        position: fixed;
        top:0px;
        overflow: scroll;
        height:100%;
        width:100%;
        margin-left:0px;
        }
    }
    
@-moz-document url-prefix()
    {
        body{
            position: fixed;
            margin:0;
        }
}


}


